
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="login-left">
            <div class="login-img"></div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="row login">
                        <div class="logo d-flex justify-content-center">
                            <div class="col-md-5 col-sm-6">
                                <img src="../../assets/logo.png" alt="">
                            </div>
                        </div> 
                        
                        <app-user-log></app-user-log>
                        <form class="example-form">
                        <button (click)="btnClick()" mat-raised-button>Login</button>
                        </form>
                    </div>
                </div>
                .m
            </div>
        </div>
    </div>
</div>
