<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>
        <mat-icon aria-hidden="false" aria-label="Example alternate_email icon">alternate_email</mat-icon>
        Email or Username</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>


            <mat-checkbox>Stay sign in</mat-checkbox>
            <a href="#" class="float-right">Forgot your password?</a>

    <div class="clearfix"></div>
    <br>
    <!-- <button mat-raised-button routerLink="/UserLogComponent">Request</button> -->
  
    
  </form>